.article-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article {
  margin: 10px;
}

a {
  color: black;
}

a:hover {
  font-style: italic;
}
