h1, h2 {
  text-align: center;
}

article {
  padding: 5px;
  margin: 5px;
  width: 475px;
  text-align: left;
}

footer {
  text-align: center;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  font-style: italic;
}

.scripture-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.date {
  display: flex;
  flex-direction: row;
}

.date-category {
  display: flex;
  flex-direction: row;
  width: 50%;
  float: left;
  justify-content: right;
  align-items: right;
  margin: 5px;
  padding: 5px;
}

.date-calendar {
  display: flex;
  flex-direction: row;
  width: 50%;
  float: right;
  justify-content: left;
  align-items: left;
  margin: 5px;
  padding: 5px;
}

.date-age {
  width: 50%;
  float: right;
  justify-content: left;
  align-items: left;
  margin: 5px;
  padding: 5px;
}
