h1, h2 {
  text-align: center;
}

article {
  padding: 5px;
  margin: 5px;
  width: 475px;
  text-align: left;
}

footer {
  text-align: center;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  font-style: italic;
}

.scripture-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
