.datePicker {
    text-align: center;
    padding: 10px 10px 10px 10px;
    border: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

.headers {
    padding-top: 15px;
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
}